@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Droid Sans", sans-serif;
}

body {
	background: #545454;
	height:100%;
	width: 100%;
}

#wrapper {
	overflow: hidden;
}

#myself {
	background: #B8956E;
	color: #F7F4E2;
	font-size: 17px;
}

.message-container {
	display: block;
	margin: auto;
	background: #E1E1E1;
	overflow-x: hidden;
  	min-width: 750px;
}

.message-container > .message-userlist {
	list-style-type: none;
	position: fixed;
	float: left;
	clear: left;
	width: 190px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #CDAE90;
}

.message-container > .message-chatarea {

	margin-left: 190px;
	width: auto;
	height: 100%;
	padding-right: 10px;
	background: #F7F4E2;
	overflow-x: hidden;
}

.message-container > .message-chatarea > .message-log {
	width: 100%;
	height: 93%;
	padding-left: 10px;
	padding-right: 10px;
	background: inherit;
	overflow-x: hidden;
	overflow-y: scroll;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.message-container > .message-chatarea > .message-log > .message-content {
	float: left;
	width: 100%;
	clear: both;
	z-index: 0;
	position: relative;
}

.message-container > .message-chatarea > .message-log > .message-content > .user-img {
	float: left;
	display: block;
	margin: 10px;
	height: 40px; /*Keep height same as img thumbnail height*/
	width: 40px; /*Keep height same as img thumbnail height*/
	text-decoration: none;
	color: #313131;
	border: 2px solid rgb(140, 190, 178);
	border-radius: 50%;
	padding: 2px;

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;

}

.message-container > .message-chatarea > .message-log > .message-content > .user-img > img {
	border-radius: 50%;
}

 .message-bubble {
	float: left;
	margin-top: 30px;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 5px;
	font-size: 14px;
	z-index: 2;
	/* background: #B7CC90; */
	max-width: 80%;
	border: 2px solid #8CBEB2;

	-webkit-border-radius: 0 25px 25px;
	   -moz-border-radius: 0 25px 25px;
}

.message-container > .message-chatarea > .message-log > .message-content > .message-bubble:hover {
	background: #A9C07F;
}

/*
.message-container > .message-chatarea > .message-log > .message-content > .message-bubble:before {
	content: " ";
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 25px;
	z-index: -5;
	background: inherit;
	top: 14px;
	left: 54px;

}

.message-container > .message-chatarea > .message-log > .message-content > .message-bubble:after {
	content: " ";
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 25px;
	z-index: -1;
	background: #F5F5F5;
	top: 5px;
	left: 51px;
}
*/

.message-container > .message-chatarea > .message-log > .message-content > .message-bubble > .message-timestamp {
	display: block;
	float: right;
	margin-right: 3px;
	text-align: right;
	font-size: 11px;
}


.message-container > .message-userlist a {
	display: block;
	padding: 10px;
	height: 40px; /*Keep height same as img thumbnail height*/
	text-decoration: none;
	color: #313131;

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;
}

.message-container > .message-userlist a:hover {
	background: #B69A7F;

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;
}

.message-container > .message-userlist a .user-img > img {
	float: left;
	display: block;
	height: 40px; /*Keep height same as img thumbnail height*/
	width: 40px; /*Keep height same as img thumbnail height*/
	text-decoration: none;
	color: #F7F4E2;
	border: 2px solid #F7F4E2;
	border-radius: 50%;
	margin-bottom: 2px;
}

.message-container > .message-userlist a .user-title {
	margin-left: 13px;
}

.message-container > .message-userlist a #add-new-friend {
	position: absolute;
}

.message-container > .message-userlist a .new-friend-msg {
	position: relative;
	margin-left: 10px;
	bottom: -11px;
}

.message-container > .message-userlist a .user-desc {
	padding-left: 22px;
	padding-top: 1px;
	font-size: 12px;
	color: #5A5A5A;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

.message-container > .message-userlist a.active {
	background: #EDCBAA;
}

.message-container > .message-userlist a.highlight {
	background: #EDCBAA;
}



.message-container > .message-userlist a.highlight .user-title,
.message-container > .message-userlist a.highlight .user-desc {
	font-weight: bold;
}


/*
.message-container > .message-chatarea > .message-log > .message {
	min-width: 40%;
	max-width: 70%;
	margin: 5px;
	margin-bottom: 2%;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
}

.message-container > .message-chatarea > .message-log > .message > p {
	display: block;
	clear: both;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 15px;
}

.message-container > .message-chatarea > .message-log > .message label {
	margin-top: -13px;
	font-size: 13px;
	font-weight: bold;
	color: #5A5A5A;
	cursor: pointer;
}

.message-container > .message-chatarea > .message-log > .message .message-user {
	display: block;
	float: left;
	margin-left: 3px;
}



*/

.message-container > .message-chatarea > .message-typing {
	position: fixed;
	width: 100%
	height: 7%;
	margin-left: 25px;
	outline: none;
	resize: none;
	font-size: 13px;
	color: #666;
	background: #F7F4E2;
	overflow-x: hidden;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.message-container > .message-chatarea > .message-typing > #msg_input {
	width: 580px;
	height: 35px;
	padding-left: 9px;
	min-width: 300px;
	border: 2px solid #B5997E;
	outline: 0;
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
}

.message-container > .message-chatarea > .message-typing > button {
	display: inline;
	margin-top: 0px;
	height: 32px;
	width: 50px;
	color: #F7F4E2;
	font-size: 14px;
	background: #BDA084;
	border: 2px solid #B5997E;
	outline: 0;
	cursor: pointer;

	 -webkit-border-radius: 25px;
    	-moz-border-radius: 25px;
}

.message-container > .message-chatarea > .message-typing > button:hover {
	color: #000000;
	background: #DBBA99;
	border: 2px solid #D3B392;
}

.message-container > .message-chatarea > .message-typing > button:active {
	box-shadow: inset 0px 0px 10px #5A5A5A;
	color: #000000;
	background: #DBBA99;
	border: 2px solid #D3B392;
}
